﻿<html ng-app="personModule">
<head>
    <title>Reports</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/scripts/Angular/angular.min.js"></script>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/scripts/Angular-route/angular-route.min.js"></script>
    <script src="~/scripts/Angular-route-styles/route-styles.js"></script>
    <script src="~/scripts/highcharts/highcharts.js"></script>
    <script src="~/scripts/highcharts/highcharts-ng.js"></script>
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon">
    
    <script src="~/Angular/Module.js"></script>
    <script src="~/Angular/App.js"></script>
    <script src="~/Angular/Service.js"></script>
    <script src="~/Angular/Controller.js"></script>

    <script src="~/Angular/Directive.js"></script>
</head>
<body class="container">

    <div id="menu" class="navbar navbar-default navbar-fixed-top tattler-background" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" id="menuToggler">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#/">Inventary</a>
                    </li>
                    <li>
                        <a href="#/ordersjobs">Number Of Jobs</a>
                    </li>
                    <li>
                        <a href="#/priority">Job Priority Breakdown by Day</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr />

    <div id="viewContainer" class="container-fluid" ng-view view-container></div>

    
</body>
</html>

